.todies__single {
  display: flex;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
  background-color: var(--cream);
  transition: 0.2s;
}

.todies__single:hover {
  box-shadow: 0 0 5px black;
  transform: scale(1.03);
}

.todies__single--text {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 20px;
}

.todies__single--text:focus {
  outline: none;
}

.icon {
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;
}